USE [VuHoaiNam_2210900050]
GO
/****** Object:  Table [dbo].[VhnSach]    Script Date: 12/07/2024 9:57:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VhnSach](
	[VhnMaSach] [nchar](10) NOT NULL,
	[VhnTenSach] [nvarchar](50) NULL,
	[VhnSoTrang] [int] NULL,
	[VhnNamXB] [date] NULL,
	[VhnMaTG] [nchar](10) NULL,
	[VhnTrangThai] [bit] NULL,
 CONSTRAINT [PK_VhnSach] PRIMARY KEY CLUSTERED 
(
	[VhnMaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VhnTACGIA]    Script Date: 12/07/2024 9:57:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VhnTACGIA](
	[VhnMaTG] [nchar](10) NOT NULL,
	[VhnTenTacGia] [nvarchar](50) NULL,
 CONSTRAINT [PK_VhnTACGIA] PRIMARY KEY CLUSTERED 
(
	[VhnMaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
